#events-bg{
    background-image: url(../imagens/events-bg-image.png);
    background-size: cover;
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#events-blur{
    width: 50em;
    height: 40em;
    background-color: #ffffff3a;
    backdrop-filter: blur(20px);
    display: flex;
    align-items: center;
    justify-content: center;
}

#events-border{
    width: 40em;
    height: 30em;
    border: 1px solid blanchedalmond;   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#events-border p.upper-case{
    font-family: "Italiana", serif;
    font-size: 400%;
    font-weight: 50;
    color: #064143;
    text-align: center;
    padding: 19px;
}

#events-border p.lower-case{
    font-family: "Italianno", cursive;
    font-size: 800%;
    letter-spacing: 15px;
    color: #064143;
    text-align: center;
    
}

main{
    background-color: #fdf5e3;
}
#main-events-upper-text{
    margin-top: 3em;
    margin-bottom: 1em;
    color: #4C0B0C;
    letter-spacing: 15px;
    font-family: "Italiana", serif;
    font-size: 400%;
}

#main-events-lower-text{
    color: #FDF5E3;
    font-size: 150%;
    font-family:  "Julius Sans One", sans-serif;
    background-color: #4C0B0C;
    padding: 2em;
}

#main-events-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: right;
}

#carouselCaptions2{
    margin: 3em auto;
    width: 900px;
}

#under-carousel-events{
    font-family: "Italianno", cursive;
    font-size: 400%;
    text-align: center;
    padding: 1em;
    letter-spacing: 2px;
    color: black;
    margin-top: 2em;
    margin-bottom: 10em;
}

#carouselCaptions2 button.carousel-control-prev{
    margin-left: 1vw;
    margin-top: 1vh;
}

#carouselCaptions2 button.carousel-control-next{
    margin-right: 1vw;
    margin-top: 1vh;
}




