

#delivery-title{
    background-image: url(imagens/delivery-image.png);
    background-size: cover;
    height: 100vh;
    height: fit-content;
}

#delivery-form{
    display: flex;
    align-items: center;
    justify-content: center;
}

#delivery-title h1{
    color: white;
    font-family: "Italiana", serif;
    font-size: 800%;
    font-weight: 50;
    text-align: right;
    padding: 1em;
    
}
#form{
    background-color: rgba(250, 250, 250, 0.267);
    backdrop-filter: blur(17px);
    width: 40em; /* Set a fixed width */
    height: fit-content;
    margin-bottom: 10em;
}

form{
    text-align: center;
}



form input#adress, input#city, input#number{
    width: 20em;
    height: 4em;
    background-color: #ffffff25;
    border-color: white;
    border-style: double;
    margin: 2em;
    font-family: "Gotu", serif;
    color: black;
    letter-spacing: 1px;
}


form label#adress, label#city, label#contact{
    font-family: "Gotu", serif;
    font-size: 100%;
    color: white;
    margin: 2em;
}

#form p{
    text-align: center;
    letter-spacing: 7px;
    color: white;
    font-family: "Italiana", serif;
    padding: 2em;
    font-size: 130%;
}

label#confirm-text{
    font-family: "Gotu", serif;
    color: white;
}

input#submit{
    height: 2.5em;
    margin-top: 2em;
    margin-bottom: 2em;
    background-color: #8F4F10;
    font-family: "Italiana", serif;
    width: 9em;
    border: none;
    text-align: center;
    color: white;
    font-size: 200%;
}

input#submit:hover{
    
    background-color:rgb(158, 95, 32);
    transition: background-color, 1s;
}

#extra-space-delivery{
    background-color: black;
    height: 20em;
}

::placeholder{
    color: rgb(214, 199, 199);
    padding: 1em;
    font-size: 120%;
}

